$cellSize: 100px;

* { box-sizing: border-box; } 

body {
    font-family: 'Nunito', sans-serif;
    min-width: 625px;
    min-height: 500px;
    background: #181818;
}

h1 {
  padding: 30px 30px 0px 30px;
  color: white;
  text-align: center;
  font-weight: normal;
}

.icon {
  position: absolute;
  //background: red;
  width: 40px;
  height: 40px;
  margin: 5px auto auto auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.4;
}

.icon-design {
  background-image: url('res/color_lens-24px.svg');
}
.icon-development {
  background-image: url('res/code-24px.svg');
}
.icon-social {
  background-image: url('res/thumb_up-24px.svg');
}
.icon-entertainment {
  background-image: url('res/video_library-24px.svg');
}
.icon-news {
  background-image: url('res/timeline-24px.svg');
}
.icon-communication {
  background-image: url('res/comment-24px.svg');
}
.icon-depaul {
  background-image: url('res/depaul-crest.png');
  filter: brightness(0%);
}
.icon-jobs {
  background-image: url('res/work-24px.svg');
}

/* ---- grid ---- */

.grid {
  //background: #e0e0e0;
  max-width: 1200px;
  padding: 45px;
  transition: 300ms;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: $cellSize;
  height: $cellSize;
  //background: #e0e0e0;
  background-image: url('res/folder.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  //border-bottom: 30px solid rgba(0,0,0,0);
  transition: filter 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  //box-shadow: 0px 15px 10px 25px #0099ff;

  span {
      text-align: center;
      color: white;
      margin-top: 150%;
      font-size: 14px;
  }
}

.grid-item--width2 { width: $cellSize; }
.grid-item--height2 { height: $cellSize; }

.grid-item:hover {
  filter: brightness(0.7);
  cursor: move;
}

.grid-item.ui-draggable-dragging,
.grid-item.is-positioning-post-drag {
  //background: #C90;
  z-index: 2;
}

.packery-drop-placeholder {
    background-image: url('res/folder-placeholder.svg');
    opacity: 0.2;
    //border: 30px solid rgba(0,0,0,0);
    background-size: contain;
    background-repeat: no-repeat;
    //outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    //outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}